@import "../../assets/styles/mixins";

.filter {
	.tabs {
		.tab {
			padding: 5px 16px;
			cursor: pointer;
			color: #555;

			@include md {
				padding: 5px 20px;
			}
			&:hover {
				opacity: 0.9;
			}
		}
		.tab.active {
			background-color: #7fffd4;
			border-radius: 50px;
		}
	}
}
