.task-item {
	position: relative;
	background-color: #eaf4d5;
	border-radius: 13px;

	&__title {
		font-size: 20px;
		font-weight: bold;
		color: #444;
	}

	&__check {
		position: absolute;
		top: 10px;
		right: 10px;
		color: rgb(196, 196, 196);
		cursor: pointer;

		&:hover {
			color: #28a745;
		}
	}

	&__body {
		color: #555;
		overflow: hidden;
	}

	&__footer {
		color: #444;

		div {
			cursor: pointer;
			margin-left: 8px;
			transition: opacity 0.3s ease;
			&:hover {
				opacity: 0.5;
			}
		}

		.task-item__date {
			font-size: 13px;
			margin-top: 4px;
		}
	}
}
